# Root Node modules
node_modules/

# Environment files
client/.env
server/.env
.env

# Vite build output
client/dist/
.vite/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Ignore CSV form response data
/data/

/uploads/
